:root {
  --dropbox-blue: #0061ff;
  --dropbox-blue-hover: #3180ff;
  --dropbox-light-blue: #b4d0e7;
  --dropbox-white: #ffffff;
  --dropbox-black: #000000;
  --dropbox-grey: #ebebec;
  --dropbox-dark-grey: #adadad;

  --light-green: #a2d39b;
  --bordeaux: #61082b;
  --blue: #0093ce;
  --red: #ff1c1c;
  --dark-red: #ff1c1c;
  --dark-blue: #0d2481;
  --yellow: #ffd830;
}

/* general styling */
* {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  scroll-behavior: smooth;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 36px;
  margin: 0.1em 0;
}
h3 {
  font-size: 26px;
}
li {
  font-size: 14px;
}
body img {
  width: 100%;
  object-fit: contain;
}
/* general styling */

/* reusable component */
.a-btn {
  background-color: var(--dropbox-blue);
  color: var(--dropbox-white);
  padding: 0.5em 1.5em;
  margin: 1.5em 1em;
}
.a-btn:hover {
  color: var(--dropbox-white);
  background-color: var(--dropbox-blue-hover);
}
.white-btn {
  background-color: var(--dropbox-white);
  color: var(--dropbox-black);
  border: 1px solid var(--dropbox-black);
}
.white-btn:hover {
  background-color: var(--dropbox-grey);
  color: var(--dropbox-black);
}
.strange-line {
  height: 1px;
  width: 20%;
  background: var(--dropbox-dark-grey);
  margin: 3vh 0;
}

/* reusable component */

/* reusable styling */
.font-size-0 {
  font-size: 0;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.li-align {
  width: 89%;
  vertical-align: top;
  font-size: 14px;
  font-weight: 500;
}
.float-right {
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.center-80 {
  width: 80vw;
  margin: auto;
}
.center-80p {
  width: 80%;
  margin: auto;
}
.center-70 {
  width: 70vw;
  max-width: 1000px;
  margin: auto;
}
.side-margins-5 {
  margin: 0 5%;
}
.margin-top-5{
  margin-top: 5em;
}
.grey-borders {
  border: 1px solid var(--dropbox-grey);
}
.grey-border-bottom {
  border-bottom: 1px solid var(--dropbox-grey);
}
.light-text {
  color: var(--dropbox-dark-grey);
  font-weight: 500;
  font-size: 14px;
}
.blue {
  color: var(--dropbox-blue);
}
.inline-a:hover {
  text-decoration: underline;
}

.light-green {
  background: var(--light-green);
}
.bordeaux {
  background: var(--bordeaux);
}
.blue-bg {
  background: var(--blue);
}
.red {
  background: var(--red);
}
.dark-red {
  background: var(--dark-red);
}
.light-blue {
  background: var(--dropbox-light-blue);
}
.dark-blue {
  background: var(--dark-blue);
}
.yellow {
  background: var(--yellow);
}

/* reusable styling */

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 4em;
  background-color: var(--dropbox-white);
  z-index: 1;
}
.logo {
  margin: 0 1em;
}

nav a {
  padding: 1.3em 0;
  margin: 0 1em;
  font-weight: 500;
}
nav a:hover {
  border-bottom: 2px solid var(--dropbox-black);
  color: var(--dropbox-black);
}
/* header */

/* jumbo-tron */
.jumbo-tron {
  background: var(--dropbox-light-blue);
  padding-top: 4em;
}
.jumbo-content {
  margin: 8vh 0 0 0;
}
.jumbo-text {
  width: 35%;
  vertical-align: top;
  margin: 0 0 5vh 0;
}
.jumbo-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
}
.jumbo-btn {
  margin-left: 0;
  font-size: 18px;
}
.jumbo-p {
  margin: 3em 0;
}
.under-btn {
  margin: 1em 0;
}
.jumbo-tron i {
  font-size: 50px;
}

.jumbo-img {
  width: 45vw;
  font-size: 16px;
  position: relative;
}
.jumbo-img img {
  width: 50vw;
  margin: 3em 0 0 0;
  position: absolute;
}

/* jumbo-tron */

/* prices plans section */
.prices-plans {
  margin: 15vw 0 0 0;
}
.radio-wrapper {
  margin: 4vh 0;
}
.pricing-tile {
  width: 31.0016%;
  min-height: 900px;
  height: 100vh;
}
.personal-team-plan p {
  text-align: center;
  margin: 0.5em 0;
}
.title-prices {
  margin: 2vh 0;
}
.title-prices p,
.plans-details li,
.features-wrapper li {
  margin: 1.8vh 0;
}
.pricing-tile .btn-wrapper {
  margin: 3vh 0;
}
.plan-btn {
  margin: 0;
  padding: 0.75em 2.28rem;
  font-size: 14px;
}
.midle-tile-margin {
  margin: 0 3%;
}
.bottom-pricing-tile {
  margin: 8vh 0;
  height: 30vh;
}
.tile-content {
  width: 69%;
  padding: 3em 0 3em 3em;
}
.tile-content h4 {
  margin: 1em 0;
}
.tile-content p {
  font-size: 14px;
}
.button-wrapper {
  width: 30%;
  margin: 3em 0 0 0;
}
/* prices plans section */

/* contact section */
.contact-img-wrapper {
  width: 59%;
}
.contact-content-wrapper {
  vertical-align: top;
  width: 39%;
  padding-left: 4%;
}
.contact-content-wrapper h3 {
  margin: 1em 0;
}
.contact-content-wrapper p {
  margin: 4em 0;
}
.contact-content-wrapper a {
  margin: 4em 0;
}
/* / contact section */

/* grid section */
.grid-section {
  margin-top: 10vw;
}
.row {
  margin: 4em 0;
}
.card {
  width: 31.0016%;
}
.card p {
  margin: 2em 0;
}
/* / grid section */

/* Dropbox for teams - squares */
.teams-section {
  margin: 10em 0 0 0;
}
.teams-section h2 {
  width: 65%;
}
.squares-container {
  margin-top: 3vh;
}
.squares-row {
  font-size: 0;
}
.square {
  width: 15vw;
  height: 15vw;
  position: relative;
}
.square img {
  filter: invert(1);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-content-box {
  width: 39vw;
  height: 30vw;
  background: var(--dropbox-grey);
  font-size: 14px;
}
.small-logo {
  width: 10vw;
  margin-top: 5%;
}
/* / Dropbox for teams - squares */

/* dropbox business banner section */
.business-banner{
  background-color: var(--dropbox-light-blue);
  padding: 10vh 0;
}
.business-banner-wrapper h2{
  width: 59%;
  color: var(--bordeaux);
}
.business-button-wrapper{
  height: 5em;
  margin: 1em;
}
.business-button-wrapper a{
  border: none;
  padding: 0.5em 4em;
}

/* / dropbox business banner section */

/* debug */
/* .debug .square{ */
/* border: 1px dashed red; */
/* min-height: 50em; */
/* } */
