:root{
    --dropbox-blue: #0061FF;
    --dropbox-blue-hover: #3180ff;
    --dropbox-light-blue: #B4D0E7;
    --dropbox-white: #ffffff;
    --dropbox-black: #000000;
    --dropbox-grey: #EBEBEC;
}

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
h1{
    font-size: 78px;
}




/* reusable component */
.a-btn{
    background-color: var(--dropbox-blue);
    color: var(--dropbox-white);
    padding: .5em 1.5em;
    margin: 1.5em 1em;
}
.a-btn:hover{
    color: var(--dropbox-white);
    background-color: var(--dropbox-blue-hover);
}
/* reusable component */



/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 4em;
    background-color: var(--dropbox-white);
}
.logo{
    margin: 0 1em;
}

nav{
    width: 85%;
}
nav a{
    padding: 1.4em 0;
    margin: 0 1em;
}
nav a:hover{
    border-bottom: 2px solid var(--dropbox-black);
    color: var(--dropbox-black);
}
/* header */

/* jumbo-tron */
.jumbo-tron{
    background: var(--dropbox-light-blue);
    padding-top: 4em;
}
.jumbo-content{
    margin: 8vh 0 0 0;
}
.jumbo-text{
    width: 35%;
}
.jumbo-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    width: 80%;
}
.jumbo-btn{
    margin-left: 0;
    font-size: 20px;
}
.jumbo-p{
    margin: 3em 0;
}
.under-btn{
    margin: 1em 0;
}
.jumbo-tron i{
    font-size: 50px;
}

.jumbo-img{
    width: 64%;
    font-size: 16px;
}

/* jumbo-tron */


/* reusable styling */
.font-size-0{
    font-size: 0;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
.float-right{
    float: right;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
  }
.center-80{
    width: 80vw;
    margin: auto;

}

/* reusable styling */


/* debug */
/* .debug .jumbo-tron, */
/* .debug .jumbo-text, */
.debug .jumbo-img{
    border: 4px dotted red;
    min-height: 50em;
}